 <%= link_to "Delete Channel", @channel ,
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>

<%= link_to "Edit Channel", edit_channel_path(@channel) %>


<div class="channel-container">

<h2><%= @channel.title %></h2>
<p><%= @channel.description %></p>
<p><%= link_to @channel.user.username, @channel.user %></p>

</div>



<div class="channel-posts">

    <%= simple_form_for [@channel, @post] do |f| %>
      <%= f.input :content %>
      <%= f.submit %>
    <% end %>

  <div class="post-container">

    <% @posts.each do |post| %>
      <div class="post-card">
        <p><%= post.user.username %></p>
        <p><%= link_to post.content, post %></p>
        <% if post.likes.count == 1 %>
        <p><%= post.likes.count %> Like</p>
        <% else %>
        <p><%= post.likes.count %> Likes</p>
        <% end %>
        <% if post.comments.count == 1 %>
        <p><%= post.comments.count %> Comment </p>
        <% else %>
        <p><%= post.comments.count %> Comments </p>
        <% end %>
        <p><%= link_to "Delete Post", post ,data: {turbo_method: :delete} %></p>


      </div>
    <% end %>
  </div>


</div>
