
<h1>User Channel</h1>

<p><%= @channel.title %></p>
<p><%= @channel.description %></p>
<p><%= link_to @channel.user.username, @channel.user %></p>

 <%= link_to "Delete", @channel ,
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>

<%= link_to "Edit Channel", edit_channel_path(@channel) %>

<%= simple_form_for [@channel, @post] do |f| %>
  <%= f.input :content %>
  <%= f.submit %>
<% end %>


<% @posts.each do |post| %>
<p><%=post.content %>  <%= link_to "Delete", post ,
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %> </p>
<% end %>
