<h1>User Profile</h1>


<p><%= " #{@user.first_name} #{@user.last_name}" %></p>
<p><%= @user.username %></p>

<% @user_channels.each do |channel| %>
<p><%= link_to channel.title,  channel_path(channel) %></p>
<p><%= channel.description %></p>
<% end %>

<%= link_to "Create Channel", new_channel_path %>


   <% @posts.each do |post| %>
      <div class="post-card">
        <p><%= post.user.username %></p>
        <p><%= link_to post.content, post %></p>
        <% if post.likes.count == 1 %>
        <p><%= post.likes.count %> Like</p>
        <% else %>
        <p><%= post.likes.count %> Likes</p>
        <% end %>
        <% if post.comments.count == 1 %>
        <p><%= post.comments.count %> Comment </p>
        <% else %>
        <p><%= post.comments.count %> Comments </p>
        <% end %>
        <p><%= link_to "Delete Post", post ,data: {turbo_method: :delete} %></p>
      </div>
    <% end %>
  </div>
