<p><%= @post.user.username %></p>
<p><%= @post.content %></p>
<% if @post.likes.count == 1 %>
<p><%= @post.likes.count %> Like</p>
<% else %>
<p><%= @post.likes.count %> Likes</p>
<% end %>

<% if @post.comments.count == 1 %>
<p><%= @post.comments.count %> Comment </p>
<% else %>
<p><%= @post.comments.count %> Comments </p>
<% end %>






<%= simple_form_for [@post, @comment] do |f| %>
  <%= f.input :content %>
  <%= f.submit %>
<% end %>




<% @post.comments.each do |comment| %>
<%= comment.content %>
<%= comment.user.username  %>
<%= link_to "Delete", comment ,data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<% end %>
